<body>
    <h2>Suppliers by region</h2>

    <div class="suppliers">
        <div class="supplier">
            <img src="/flags/dubai.png" alt="dubai">
            <p>Arabic Emirates <br><span>shopname.ae</span></p>
        </div>
        <div class="supplier">
            <img src="/flags/australia.png" alt="australia">
            <p>Australia  <br><span>shopname.ae</span></p>
        </div>
        <div class="supplier">
            <img src="/flags/usa.png" alt="usa">
            <p>United States<br><span>shopname.ae</span></p>
        </div>
        <div class="supplier">
            <img src="/flags/russia.png" alt="russia">
            <p>Russia <br><span>shopname.ae</span></p>
        </div>

        <div class="supplier">
            <img src="/flags/scotland.png" alt="scotland">
            <p>Denmark<br><span>denmark.com.dk</span></p>
        </div>
        <div class="supplier">
            <img src="/flags/france.png" alt="france">
            <p>France <br><span>shopname.com.fr</span></p>
        </div>
        <div class="supplier">
            <img src="/flags/dubai.png" alt="dubai">
            <p> Arabic Emirates<br><span>shopname.ae</span></p>
        </div>
        <div class="supplier">
            <img src="/flags/china.png" alt="china">
            <p>China <br><span>shopname.ae</span></p>
        </div>
    </div>
</body>

