<body>
    <h2>Our extra services</h2>
    <div class="services">
      <div class="service">
        <img src="/image108.png" alt="Source from Industry Hubs">
        <i class="fas fa-search search-icon"></i>
        <div class="service-title">Source from <br> Industry Hubs</div>
      </div>
      <div class="service">
        <img src="/image104.png" alt="Customize Your Products">
        <i class="fas fa-cogs search-icon" style="top: 100px; right: 10px;"></i>
        <div class="service-title">Customize Your <br> Products</div>
      </div>
      <div class="service">
        <img src="/image106.png" alt="Fast, reliable shipping">
        <i class="fas fa-shipping-fast search-icon" style="top: 100px; right: 10px;"></i>
        <div class="service-title">Fast, reliable shipping <br> by ocean or air</div>
      </div>
      <div class="service">
        <img src="/image107.png" alt="Product monitoring">
        <i class="fas fa-eye search-icon" style="top: 100px; right: 10px;"></i>
        <div class="service-title">Product monitoring <br> and inspection</div>
      </div>
    </div>
  </body>

