<body>
    <div class="table-wrapper">
      <table>
        <tr>
          <td rowspan="2">
            <div class="home">
              <h1>Consumer <br>electronic and <br>gadgets</h1>
              <button>Source now</button>
            </div>
          </td>
          
          <td>
            <div class="product-main">
              <h4>Smart watches</h4>
              <div class="product-box">
                <p>From<br>USD 19</p>
                <img src="/tech/8.jpg" alt="Smart watches">
              </div>
            </div>
          </td>
          <td>
            <div class="product-main">
              <h4>Cameras</h4>
              <div class="product-box">
                <p>From<br>USD 89</p>
                <img src="/tech/6.jpg" alt="Cameras">
              </div>
            </div>
          </td>
          <td>
            <div class="product-main">
              <h4>Headphones</h4>
              <div class="product-box">
                <p>From<br>USD 10</p>
                <img src="/tech/9.jpg" alt="Headphones">
              </div>
            </div>
          </td>
          <td>
              <div class="product-main">
                <h4>Smart watches</h4>
                <div class="product-box">
                  <p>From<br>USD 90</p>
                  <img src="/tech/10.jpg" alt="Smart watches">
                </div>
              </div>
            </td>
        </tr>
        <tr>
          <td>
            <div class="product-main">
              <h4>Gaming set</h4>
              <div class="product-box">
                <p>From<br>USD 35</p>
                <img src="/tech/5.jpg" alt="Gaming set">
              </div>
            </div>
          </td>
          <td>
            <div class="product-main">
              <h4>Laptop & PC</h4>
              <div class="product-box">
                <p>From<br>USD 340</p>
                <img src="/tech/7.jpg" alt="Laptop & PC">
              </div>
            </div>
          </td>
          <td>
            <div class="product-main">
              <h4>Smartphones</h4>
              <div class="product-box">
                <p>From<br>USD 19</p>
                <img src="/tech/2.jpg" alt="Smartphones">
              </div>
            </div>
          </td>
          <td>
            <div class="product-main">
              <h4>Electric kattle</h4>
              <div class="product-box">
                <p>From<br>USD 240</p>
                <img src="/tech/1.jpg" alt="Electric kattle">
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>

