<body>
    <div class="table-wrapper">
      <table>
        <tr>
          <td rowspan="2">
            <div class="home">
              <h1>Home and <br>Outdoor</h1>
              <button>Source now</button>
            </div>
          </td>
          
          <td>
            <div class="product-main">
              <h4>Soft chairs</h4>
              <div class="product-box">
                <p>From<br>USD 19</p>
                <img src="/interior/1.jpg" alt="Soft chair">
              </div>
            </div>
          </td>
          <td>
            <div class="product-main">
              <h4>Sofa & chair</h4>
              <div class="product-box">
                <p>From<br>USD 19</p>
                <img src="/interior/6.jpg" alt="Sofa & chair">
              </div>
            </div>
          </td>
          <td>
            <div class="product-main">
              <h4>Kitchen dishes</h4>
              <div class="product-box">
                <p>From<br>USD 19</p>
                <img src="/interior/5.jpg" alt="Kitchen dishes">
              </div>
            </div>
          </td>
          <td>
              <div class="product-main">
                <h4>Kitchen dishes</h4>
                <div class="product-box">
                  <p>From<br>USD 19</p>
                  <img src="/interior/3.jpg" alt="Kitchen dishes">
                </div>
              </div>
            </td>
        </tr>
        <tr>
          <td>
            <div class="product-main">
              <h4>Kitchen mixer</h4>
              <div class="product-box">
                <p>From<br>USD 19</p>
                <img src="/interior/9.jpg" alt="Kitchen mixer">
              </div>
            </div>
          </td>
          <td>
            <div class="product-main">
              <h4>Blenders</h4>
              <div class="product-box">
                <p>From<br>USD 19</p>
                <img src="/interior/8.jpg" alt="Blenders">
              </div>
            </div>
          </td>
          <td>
            <div class="product-main">
              <h4>Home applaince</h4>
              <div class="product-box">
                <p>From<br>USD 19</p>
                <img src="/interior/7.jpg" alt="Home applaince">
              </div>
            </div>
          </td>
          <td>
            <div class="product-main">
              <h4>Coffee maker</h4>
              <div class="product-box">
                <p>From<br>USD 10</p>
                <img src="/interior/4.jpg" alt="Coffee maker">
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>

