
 
    <div class="div1">
      <div class="container">
        <div>
          <h2>An easy way to send <br /> requests to all suppliers</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing <br />elit, sed do eiusmod tempor incididunt</p>
        </div>
        <div class="quote-form">
          <h3 class="second-h2">Send quote to suppliers</h3>
          <input type="text" placeholder="What item you need?" />
          <textarea placeholder="Type more details"></textarea>
          <div class="inline">
            <input type="number" placeholder="Quantity" />
            <select>
              <option>Pcs</option>
              <option>Boxes</option>
              <option>Kgs</option>
            </select>
          </div>
          <button>Send inquiry</button>
        </div>
      </div>
    