<app-header></app-header>
<div class="div1">
    <div class="main1">
        <div class="left">
            <div class="container">
        <div class="product-images">
            <img src="/image34.png" alt="Product Main Image" class="main-image">
            <div class="thumbnail-images">
                <img src="/image39.png" alt="Product Thumbnail 1" class="thumbnail">
                <img src="/image35.png" alt="Product Thumbnail 2" class="thumbnail">
                <img src="/image40.png" alt="Product Thumbnail 3" class="thumbnail">
                <img src="/image36.png" alt="Product Thumbnail 3" class="thumbnail">
                <img src="/image37.png" alt="Product Thumbnail 3" class="thumbnail">
                <img src="/image39.png" alt="Product Thumbnail 3" class="thumbnail">
            </div>
        </div>
        <div class="product-details">
            <div class="in-stock">✔ In stock</div>
            <h1 class="product-title">Mens Long Sleeve T-shirt Cotton Base Layer Slim Muscle</h1>
            <div class="rating-review-container">
                <div class="stars">★★★★<span class = "empty-star">★</span></div>
                <span class="rating-value">9.3</span>
                <span class="bullet-point">•</span>
                <span class="reviews-sold review-logo">32 reviews</span>
                <span class="bullet-point">•</span>
                <span class="reviews-sold sold-logo">154 sold</span>
            </div>
            <div class="price-tiers">
                <div class="price-tier">
                    <div class="price">$98.00</div>
                    <div class="quantity">50-100 pcs</div>
                </div>
                <div class="price-tier">
                    <div class="price1">$90.00</div>
                    <div class="quantity">100-700 pcs</div>
                </div>
                <div class="price-tier">
                    <div class="price1">$78.00</div>
                    <div class="quantity">700+ pcs</div>
                </div>
            </div>
            
            <div class="product-specs">
                <div class="spec-row">
                    <div class="spec-label">Price:</div>
                    <div class="spec-value">Negotiable</div>
                </div>
                <div class="spec1-row">
                    <div class="spec-label">Type:</div>
                    <div class="spec-value">Classic shoes</div>
                </div>
                <div class="spec1-row">
                    <div class="spec-label">Material:</div>
                    <div class="spec-value">Plastic material</div>
                </div>
                 <div class="spec-row">
                    <div class="spec-label">Design:</div>
                    <div class="spec-value">Modern nice</div>
                </div>
                <div class="spec1-row">
                    <div class="spec-label">Customization:</div>
                    <div class="spec-value">Customized logo and design custom packages</div>
                </div>
                <div class="spec1-row">
                    <div class="spec-label">Protection:</div>
                    <div class="spec-value">Refund Policy</div>
                </div>
                <div class="spec-row">
                    <div class="spec-label">Warranty:</div>
                    <div class="spec-value">2 years full warranty</div>
                </div>
            </div>
            
        </div>
    </div>
        
    
</div>
    <div class="right">
            
    <div class="supplier-info-card">
        <div class="supplier-header">
            <div class="supplier-letter">R</div>
            <div class="supplier-name text-color">Guanjoi Trading LLC</div>
        </div>
        <div class="location-info">
            <span class="flag-icon flag-icon-de text-color" style="font-size: 1em;"></span>
            <span class = "text-color">Germany, Berlin</span>
        </div>
        <div class="verified-info">
            <i class="fas fa-check-circle text-success" style="margin-right: 2px;"></i>
            <span class = "text-color">Verified Seller</span>
        </div>
        <div class="shipping-info">
            <i class="fas fa-globe" style="margin-right: 2px;"></i>
            <span class = "text-color">Worldwide shipping</span>
        </div>
        <button class="inquiry-button">Send inquiry</button>
        <button class="profile-button">Seller's profile</button>
    </div>
    <div class="save-button">
       <button class="like-btn" onclick="toggleLike(this)">
        <i class="far fa-heart"></i>
      </button> <span class = "text1-color" > Save for later</span>
    </div>
    </div>
</div>
    <div class="container1"></div>
    
    <div class="main2">
        <div class="main-content">
            <div class="product-container">
                <div class="tabs">
                    <ul>
                        <li><a href="#" class="active" style="color: #8B96A5;">Description</a></li>
                        <li><a href="#" style="color: #8B96A5;">Reviews</a></li>
                        <li><a href="#" style="color: #8B96A5;">Shipping</a></li>
                        <li><a href="#" style="color: #8B96A5;">About seller</a></li>
                    </ul>
                </div>
                <div class="description-content">
                    <p style="color: #505050;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                    <p style="color: #505050;">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <table class="details-table">
                    <tr>
                        <th style="color: #505050;">Model</th>
                        <td style="color: #505050;">#8786867</td>
                    </tr>
                    <tr>
                        <th style="color: #505050;">Style</th>
                        <td style="color: #505050;">Classic style</td>
                    </tr>
                    <tr>
                        <th style="color: #505050;">Certificate</th>
                        <td style="color: #505050;">ISO-898921212</td>
                    </tr>
                    <tr>
                        <th style="color: #505050;">Size</th>
                        <td style="color: #505050;">34mm x 450mm x 19mm</td>
                    </tr>
                    <tr>
                        <th style="color: #505050;">Memory</th>
                        <td style="color: #505050;">36GB RAM</td>
                    </tr>
                </table>
                <ul class="features-list">
                    <li style="color: #505050;">Some great feature name here</li>
                    <li style="color: #505050;">Lorem ipsum dolor sit amet, consectetur</li>
                    <li style="color: #505050;">Duis aute irure dolor in reprehenderit</li>
                    <li style="color: #505050;">Some great feature name here</li>
                </ul>
            </div>
            <div class="suggestions-container">
                <h2 class="suggestions-title">You may like</h2>
                <div class="suggestion-item">
                    <img src="/cloth/7.jpg" alt="Men Blazers Sets">
                    <div class="suggestion-details">
                        <div class="suggestion-title">Men Blazers Sets Elegant Formal</div>
                        <div class="suggestion-price">$7.00 - $99.50</div>
                    </div>
                </div>
                <div class="suggestion-item">
                    <img src="/cloth/1.jpg" alt="Men Shirt Sleeve">
                    <div class="suggestion-details">
                        <div class="suggestion-title">Men Shirt Sleeve Polo Contrast</div>
                        <div class="suggestion-price">$7.00 - $99.50</div>
                    </div>
                </div>
                <div class="suggestion-item">
                    <img src="/cloth/3.jpg" alt="Apple Watch Series">
                    <div class="suggestion-details">
                        <div class="suggestion-title">Apple Watch Series Space Gray</div>
                        <div class="suggestion-price">$7.00 - $99.50</div>
                    </div>
                </div>
                <div class="suggestion-item">
                    <img src="/cloth/2.jpg" alt="Basketball Crew Socks">
                    <div class="suggestion-details">
                        <div class="suggestion-title">Basketball Crew Socks Long Stuff</div>
                        <div class="suggestion-price">$7.00 - $99.50</div>
                    </div>
                </div>
                <div class="suggestion-item">
                    <img src="/cloth/5.jpg" alt="New Summer Men's">
                    <div class="suggestion-details">
                        <div class="suggestion-title">New Summer Men's castrol T-Shirts</div>
                        <div class="suggestion-price">$7.00 - $99.50</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container1"></div>
        
    <div class="main3">
        <h2>Related Products</h2>
        <div class="related-products-container">
            <div class="product-card">
                <img src="/cloth/6.jpg" alt="Wallet"> <div class="product-title">Xiaomi Redmi 8 Original</div>
                <div class="product-price">$32.00-$40.00</div>
            </div>
            <div class="product-card">
                <img src="/tech/8.jpg" alt="Smartwatch"> <div class="product-title">Xiaomi Redmi 8 Original</div>
                <div class="product-price">$32.00-$40.00</div>
            </div>
            <div class="product-card">
                <img src="/tech/9.jpg" alt="Headphones"> <div class="product-title">Xiaomi Redmi 8 Original</div>
                <div class="product-price">$32.00-$40.00</div>
            </div>
            <div class="product-card">
                <img src="/cloth/4.jpg" alt="Shorts">  <div class="product-title">Xiaomi Redmi 8 Original</div>
                <div class="product-price">$32.00-$40.00</div>
            </div>
            <div class="product-card">
                <img src="/tech/10.jpg" alt="Kettle">  <div class="product-title">Xiaomi Redmi 8 Original</div>
                <div class="product-price">$32.00-$40.00</div>
            </div>
            <div class="product-card">
                <img src="/interior/7.jpg" alt="Organizer">  <div class="product-title">Xiaomi Redmi 8 Original</div>
                <div class="product-price">$32.00-$40.00</div>
            </div>
        </div></div></div>
<app-footer1></app-footer1>

