<div class="header-row">
  <div>
    <img src="/logo-colored.svg" alt="brand logo" height="40">
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Search">
    <select>
      <option>All Category</option>
      <option>Electronics</option>
      <option>Fashion</option>
      <option>Automobiles</option>
    </select>
    <button>Search</button>
  </div>

  <div class="icon-row">
    <div class="icon-item">
      <i class="fa fa-user" title="Profile"></i>
      <p>Profile</p>
    </div>
    <div class="icon-item">
      <i class="fa fa-message" title="Messages"></i>
      <p>Message</p>
    </div>
    <div class="icon-item">
      <i class="fa fa-shopping-bag" title="Orders"></i>
      <p>Orders</p>
    </div>
    <div class="icon-item">
      <i class="fa fa-shopping-cart" title="My Cart"></i>
      <p>My Cart</p>
    </div>
  </div>
</div>

