<body>

    <h2>Recommended items</h2>
  
    <div class="grid">
      <div class="card">
        <img src="/cloth/1.jpg" alt="T-shirt">
        <div>
          <div class="price">$10.30</div>
          <div class="desc">T-shirts with multiple <br>colors, for men</div>
        </div>
      </div>
  
      <div class="card">
        <img src="/cloth/3.jpg" alt="Winter coat">
        <div>
          <div class="price">$10.30</div>
          <div class="desc">Jeans shorts for men,<br> blue color</div>
        </div>
      </div>
  
      <div class="card">
        <img src="/cloth/7.jpg" alt="Coat">
        <div>
          <div class="price">$12.50</div>
          <div class="desc">blue winter coat,<br> medium size</div>
        </div>
      </div>
  
      <div class="card">
        <img src="/cloth/6.jpg" alt="Bag">
        <div>
          <div class="price">$34.00</div>
          <div class="desc">Leather wallet</div>
        </div>
      </div>
  
      <div class="card">
        <img src="/cloth/5.jpg" alt="Wallet">
        <div>
          <div class="price">$99.00</div>
          <div class="desc">Jeans bag for travel <br>for men</div>
        </div>
      </div>
  
      <div class="card">
        <img src="/cloth/4.jpg" alt="T-shirt">
        <div>
          <div class="price">$10.30</div>
          <div class="desc">shorts</div>
        </div>
      </div>
      
      <div class="card">
        <img src="/9.jpg" alt="Winter coat">
        <div>
          <div class="price">$10.30</div>
          <div class="desc">headset for gaming <br>with mic</div>
        </div>
      </div>
      
      <div class="card">
        <img src="/cloth/5.jpg" alt="Coat">
        <div>
          <div class="price">$12.50</div>
          <div class="desc">Jeans bag for travel <br>for men</div>
        </div>
      </div>
      
      <div class="card">
        <img src="/interior/3.jpg" alt="Bag">
        <div>
          <div class="price">$34.00</div>
          <div class="desc">pots</div>
        </div>
      </div>
      
      <div class="card">
        <img src="/10.jpg" alt="Wallet">
        <div>
          <div class="price">$99.00</div>
          <div class="desc">steel jugs</div>
        </div>
      </div>
    </div>
  
  </body>

