<body>

    <div class="container">
      <div class="grid-item deal">
        <h2>Deals and Offers</h2>
        <p class="para">Hygiene equipments</p>
        <div class="time-container">
          <div class="time-box"><b>04</b> <br /> Days</div>
          <div class="time-box"><b>13</b> <br /> Hour</div>
          <div class="time-box"><b>34</b> <br /> Min</div>
          <div class="time-box"><b>56</b> <br /> Sec</div>
        </div>
      </div>
  
      <div class="grid-item image-item">
        <img src="/8.jpg" alt="smart watches" />
        <h5>Smart Watches</h5>
        <p>-25% off</p>
      </div>
      <div class="grid-item image-item">
        <img src="/7.jpg" alt="laptops" />
        <h5>Laptops</h5>
        <p>-15% off</p>
      </div>
      <div class="grid-item image-item">
        <img src="/6.jpg" alt="gopro camera" />
        <h5>GoPro Camera</h5>
        <p>-40% off</p>
      </div>
      <div class="grid-item image-item">
        <img src="/5.jpg" alt="headphones" />
        <h5>Headphones</h5>
        <p>-25% off</p>
      </div>
      <div class="grid-item image-item">
        <img src="/4.jpg" alt="canon cameras" />
        <h5>Canon Cameras</h5>
        <p>-25% off</p>
      </div>
    </div>
  
  </body>