<footer class="footer2">
    <div class="footer-container">
        <div class="footer-left">
            <img src="/logo-colored.svg" alt="Brand Logo">
            <div style="max-width: 250px;padding-right:30px">Best information about the company goes here
                But now lorem ipsum is.</div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="far fa-envelope"></i></a>
            </div>
        </div>
        <div class="footer-section">
            <h4>About</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Find Store</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Blogs</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Partnership</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Find Store</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Blogs</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Information</h4>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Money Refund</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>For Users</h4>
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">My Orders</a></li>
            </ul>
        </div>
        <div class="footer-section get-app">
            <h4>Get App</h4>
            <a href="#"><img src="/apple.png" alt="Download on the App Store"></a>
            <a href="#"><img src="/google.png" alt="Get it on Google Play"></a>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2023 Ecommerce.
    </div>
</footer>


