<body>

    <div class="main">
        <div class="left-section">
            <button>Automobiles</button>
            <button>Clothes and wear</button>
            <button>Home interiors</button>
            <button>Tools, equipments</button>
            <button>Sports and outdoor</button>
            <button>Animal and pets</button>
            <button>Machinery tools</button>
            <button>More category</button>
        </div>

        <div class="middle-section">
            <div class="text-content">
                <h2>Latest trending <span class="bold-text">Electronic items</span></h2>
                <a href="#" class="learn-more">Learn more</a>
            </div>
        </div>

        <div class="right-section">
            <div class="container">
                <div class="login1">
                    <div class="login">
                        <div class="profile">
                            <img src="/IMG-20210223-WA0016.jpeg" alt="Profile Avatar">
                        </div>
                        <p>Hi, user<br>Let's get started</p>
                    </div>
                    <a href="#" class="btn btn-primary">Join now</a>
                    <a href="#" class="btn btn-secondary">Log in</a>
                </div>
                <div class="offer"> Get US $10 off <br> with a new <br> supplier </div>
                <div class="disabled">Send quotes with <br> supplier <br> preferences </div>
            </div>
        </div>
    </div>

</body>